@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
.drag-ghost {
    @apply opacity-50 bg-slate-500;
}

.custom-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.custom-scroll {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}


/*for hover task user avatar*/

.group:hover .group-hover\:flex {
    display: flex
}

.group-hover\:flex {
    display: none
}
